{% extends "base/authenticated.base.html.twig" %}

{# Beginning of Page Header #}
{% block title %}
Manage Interactions
{% endblock title %}

{% block pageStylesheets %}
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/interactions.css" rel="stylesheet">
{% endblock pageStylesheets %}

{# Beginning of Page Content #}
{% block interactionsActive %}
class="active"
{% endblock interactionsActive %}


{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="InteractionsController">
        <h1 class="page-header">Interactions</h1>

        <div class="row controls">
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Search..." ng-model="interactionsSearch">
            </div>
            <div class="pull-right add-interaction-button">
                <a href="/console/interactions/add" class="btn btn-primary" id="addInteraction"><span class="glyphicon glyphicon-plus-sign"></span> Add Interaction</a>
            </div>
        </div>

        {# Note: This needs to be switched out for Fuel UX Table that sorts and filters out of the box #}
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th class="col-md-6">Interaction Name</th>
                    <th class="col-md-6 text-right">Controls</th>
                </tr>
                <tr ng-repeat="interaction in interactions | filter:interactionsSearch | orderBy:'enabled' | orderBy:'name'">
                    <td class="col-md-6">{% verbatim %}{{ interaction.name }}{% endverbatim %}</td>
                    <td class="col-md-6 text-right">
                        <a href="/console/interactions/{% verbatim %}{{ interaction.id }}{% endverbatim %}" id="{% verbatim %}{{ interaction.id }}{% endverbatim %}Edit" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                        <button ng-show="interaction.enabled" id="{% verbatim %}{{ interaction.id }}{% endverbatim %}-Show" ng-click="interaction.enabled=0" class="btn btn-info btn-xs btnSetWidth btnShowHideInteraction"><span class="glyphicon glyphicon-eye-open"></span> Show</button>
                        <button ng-show="!interaction.enabled" id="{% verbatim %}{{ interaction.id }}{% endverbatim %}-Hide" ng-click="interaction.enabled=1" class="btn btn-warning btn-xs btnSetWidth btnShowHideInteraction"><span class="glyphicon glyphicon-eye-close"></span> Hide</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock content %}


{# Simple AngularJS for Searching Users #}
{% block pageScripts %}
    <script>
    // Setup of Antic App
    var anticApp = angular.module('anticApp',[]);

    // User Controller for User Filtering
    anticApp.controller('InteractionsController', ['$scope', function ($scope) {
        $scope.interactions = [
        {% for interaction in interactions %}
            { 'name':"{{ interaction.name }}", 'id':"{{ interaction.id }}", 'enabled':{{ interaction.enabled }} },
        {% endfor %}
        ];
    }]);
    </script>
{% endblock pageScripts %}